:root {
	--text-color: #212931;
	font-size: 16px;
}

/*=======================================*/
/*  CSS Resets  */
/*=======================================*/


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*=======================================*/
/*  Base CSS   */
/*=======================================*/

h1 {
	font-size: 5rem;
	line-height: 1.5;
}
h2 {
	font-size: 4rem;
	line-height: 1.5;
}
h3 {
	font-size: 1rem;
	line-height: 1.5;
	font-weight: 600;
	font-family: 'Roboto', sans-serif;
}
h4 {
	font-size: 2rem;
	line-height: 1.5;
}
h5 {
	font-size: 1rem;
	line-height: 1.5;
}
h6 {
	font-size: 0.6rem;
	line-height: 1.5;
}
p {
	font-size: .8rem;
	line-height: 1.5;
	color: black;
	font-family: 'Roboto', sans-serif;
}

*, *:before, *:after {
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: black;
	font-size: 2rem;
	font-family: 'Roboto', sans-serif;
}

/*=======================================*/
/* General CSS  */
/*=======================================*/
.main {
	background-color: #F5F6E4;
}
.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}
.float-right {
	float: right;
}
.float-left {
	float: left;
}

/*=======================================*/
/*  Navigation */
/*=======================================*/
.flex-nav {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	line-height: 1.5;
}
.filters {
	display: inline-block;
	margin: 0 1rem;
}
/*=======================================*/
/*  Hero */
/*=======================================*/

.flex-content {
	display: flex;
	flex-wrap: wrap;
}
.box {
	max-width: 240px;
	background: white;
	text-align: center;
	padding: 1rem;
}
img {
	max-width: 100%;
}


/*=======================================*/
/*  Media Query  */
/*=======================================*/
@media all and (max-width: 768px) {
	:root {
		--text-color: #212931;
		font-size: 12px;
	}
	p {
		font-size: .6rem;
	}

	/* === nav === */
	select {
		width: 6rem;
		font-size: .8rem;
	}
	a {
		font-size: 1.5rem;
	}
	
	/* === Hero === */
	.box {
		max-width: 25%;
	}
	.box1, .box2 {
		max-width: 50%;
	}
	
}